<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Health Count</title>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a class="main" href="/" class="active">Health Count</a>
      <a href="/calories">CalorieCount</a>
      <a href="/bmi">BMI</a>

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="container">
      <form method="post" action="/calories" class="form-group">
        <label style="float: left" class="form-label">Select Item</label>
        <div class="input-group mb-3">
          <input
            list="fooditems"
            name="item"
            autocomplete="off"
            class="form-control"
            id="basic-url"
            aria-describedby="basic-addon3"
            required
          />
          <datalist id="fooditems">
            <option value="Antelope"></option>
            <option value="Anchovy"></option>
            <option value="Atlantic Salmon"></option>
            <option value="Almonds"></option>
            <option value="Abiyuch"></option>
            <option value="Acerola"></option>
            <option value="Apples"></option>
            <option value="Apricots"></option>
            <option value="Avocados"></option>
            <option value="Alfalfa Seeds"></option>
            <option value="Artichokes"></option>
            <option value="Asparagus"></option>
            <option value="Butter"></option>
            <option value="Butter milk"></option>
            <option value="Bacon"></option>
            <option value="Beef"></option>
            <option value="Bread"></option>
            <option value="Barley"></option>
            <option value="Brown Rice (cooked)"></option>
            <option value="Bananas"></option>
            <option value="Blackberries"></option>
            <option value="Blueberries"></option>
            <option value="Beer"></option>
            <option value="Balsam-pear"></option>
            <option value="Beet Root"></option>
            <option value="Bitter Gourd"></option>
            <option value="Broccoli"></option>
            <option value="Brinjal"></option>
            <option value="Cheese"></option>
            <option value="Coffee cream"></option>
            <option value="Cream substitute"></option>
            <option value="Cream topping"></option>
            <option value="Cultured sour cream"></option>
            <option value="Chicken"></option>
            <option value="Crispy Duck"></option>
            <option value="Crab"></option>
            <option value="Cashew"></option>
            <option value="Coconut"></option>
            <option value="Coconut Water"></option>
            <option value="Chestnuts"></option>
            <option value="Corn Flour"></option>
            <option value="Cherries"></option>
            <option value="Custard-apple"></option>
            <option value="Coffee"></option>
            <option value="Candy"></option>
            <option value="Cardamom"></option>
            <option value="Chili"></option>
            <option value="Cinnamon"></option>
            <option value="Coriander"></option>
            <option value="Cabbage"></option>
            <option value="Carrots"></option>
            <option value="Cauliflower"></option>
            <option value="Corn"></option>
            <option value="Cucumber"></option>
            <option value="Dessert topping"></option>
            <option value="Dried whey"></option>
            <option value="Dulce De Leche"></option>
            <option value="Dove"></option>
            <option value="Duck Breast"></option>
            <option value="Duck Confit"></option>
            <option value="Duck Liver"></option>
            <option value="Duck Meat"></option>
            <option value="Dip"></option>
            <option value="Dry Vegetable Soup"></option>
            <option value="Dates"></option>
            <option value="Drinks"></option>
            <option value="Dark Chocolate"></option>
            <option value="Drumstick Pods"></option>
            <option value="Egg"></option>
            <option value="Egg mix"></option>
            <option value="Egg nog"></option>
            <option value="Emu"></option>
            <option value="Egg Noodles"></option>
            <option value="Fluid Whey"></option>
            <option value="Flat Noodles"></option>
            <option value="Fruit Salad"></option>
            <option value="Goose"></option>
            <option value="Guinea Hen"></option>
            <option value="Goat"></option>
            <option value="Grapes"></option>
            <option value="Guavas"></option>
            <option value="Garlic Powder"></option>
            <option value="Ginger Root"></option>
            <option value="Half And Half Cream"></option>
            <option value="Heavy Whipping Cream"></option>
            <option value="Hazelnuts"></option>
            <option value="Halavah"></option>
            <option value="Ice Cream"></option>
            <option value="Instant Breakfast Chocolate Powder"></option>
            <option value="Jackfruit"></option>
            <option value="Jams"></option>
            <option value="Kefir"></option>
            <option value="Kiwifruit"></option>
            <option value="Lemon"></option>
            <option value="Litchis"></option>
            <option value="Lemonade"></option>
            <option value="Liqueur"></option>
            <option value="Lettuce"></option>
            <option value="Milk"></option>
            <option value="Milkshake"></option>
            <option value="Mixed Nuts"></option>
            <option value="Macadamia Nuts"></option>
            <option value="Macaroni"></option>
            <option value="Mango"></option>
            <option value="Mushrooms"></option>
            <option
              value="Nutritional Supplement For People With Diabetes"
            ></option>
            <option value="Ostrich"></option>
            <option value="Oats"></option>
            <option value="Olives"></option>
            <option value="Oranges"></option>
            <option value="Okra"></option>
            <option value="Okara"></option>
            <option value="Octopus"></option>
            <option value="Protein Supplement"></option>
            <option value="Peking Duck"></option>
            <option value="Pheasant"></option>
            <option value="Pork"></option>
            <option value="Pecans"></option>
            <option value="Pine Nuts"></option>
            <option value="Pistachio Nuts"></option>
            <option value="Pasta"></option>
            <option value="Papayas"></option>
            <option value="Passion-fruit"></option>
            <option value="Peaches"></option>
            <option value="Pineapples"></option>
            <option value="Plums"></option>
            <option value="Pomegranates"></option>
            <option value="Peas"></option>
            <option value="Paprika"></option>
            <option value="Pepper"></option>
            <option value="Potatoes"></option>
            <option value="Pumpkin"></option>
            <option value="Rabbit"></option>
            <option value="Roast Duck"></option>
            <option value="Raspberries"></option>
            <option value="Scrambled Eggs"></option>
            <option value="Sour Cream"></option>
            <option value="Sour Dressing"></option>
            <option value="sausage"></option>
            <option value="Sauce"></option>
            <option value="Soup"></option>
            <option value="Sapote"></option>
            <option value="Strawberries"></option>
            <option value="Soybeans"></option>
            <option value="Sugars"></option>
            <option value="Sprouts"></option>
            <option value="Spinach"></option>
            <option value="Squash"></option>
            <option value="Shallots"></option>
            <option value="Turkey"></option>
            <option value="Tangerines"></option>
            <option value="Tequila"></option>
            <option value="Tomatoes"></option>
            <option value="Vodka"></option>
            <option value="Vanilla Extract"></option>
            <option value="Whipped Cream"></option>
            <option value="Whipped Topping"></option>
            <option value="Walnuts"></option>
            <option value="Waffles"></option>
            <option value="White Rice (cooked)"></option>
            <option value="Wheat Flour"></option>
            <option value="Watermelon"></option>
            <option value="Whiskey"></option>
            <option value="Wine"></option>
            <option value="Yogurt"></option>
          </datalist>
        </div>
        <label style="float: left" class="form-label">Quantity</label>
        <div class="input-group mb-3">
          <input
            type="number"
            class="form-control"
            step="any"
            name="qty"
            required
          />
          <span class="input-group-text" id="inputGroup-sizing-default"
            >in grams</span
          >
        </div>

        <br />
        <br />

        <button type="submit" class="btn btn-dark">Add item</button>
      </form>
      <br />
      <div style="text-align: center">
        <button
          onclick="location.href='/calories/clearitems';"
          value="Clear added items"
          class="btn btn-dark"
        >
          Clear added items
        </button>

        &ensp;&ensp;&ensp;

        <button
          type="submit"
          class="btn btn-dark"
          onclick="window.open('/calories/modifyitem')"
          style="display: inline-block"
        >
          Modify items
        </button>
      </div>
      <br />
      <br />
      <p style="font-size: 40px"><b><%=caloriesum%></b></p>

      <p><%=msg%></p>

      <%if(Object.keys(itemsdata).length>0){%>
      <table class="table">
        <tr class="table-dark">
          <td>ITEM</td>
          <td>QUANTITY</td>
          <td>CALORIES PER GRAM</td>
          <td>CALORIES</td>
        </tr>
        <%for(let key in itemsdata){%>
        <tr>
          <td><%=key%></td>
          <td><%=itemsdata[key]%></td>
          <td><%=food[key]%></td>
          <td><%=(food[key]*itemsdata[key]).toFixed(2)%></td>
        </tr>
        <%}%>
      </table>
      <%}%>

      <br />
      <br />

      <table class="table">
        <p style="text-align: left"><b>CALORIES REQUIREMENT CHART</b></p>
        <tr class="table-dark">
          <td>Type</td>
          <td>Age(years)</td>
          <td>Sedentary(calories)</td>
          <td>Moderate(calories)</td>
          <td>Active(calories)</td>
        </tr>
        <tr>
          <td>child</td>
          <td>2-3</td>
          <td>1000</td>
          <td>1000-1400</td>
          <td>1000-1400</td>
        </tr>
        <tr>
          <td>Female</td>
          <td>
            4-8
            <br />
            9-13
            <br />
            14-18
            <br />
            19-30
            <br />
            31-50
            <br />
            51+
          </td>
          <td>
            1,200
            <br />
            1600
            <br />
            1800
            <br />
            2000
            <br />
            1800
            <br />
            1600
            <br />
          </td>
          <td>
            1400-1600
            <br />
            1600-2000
            <br />
            2000
            <br />
            2000-2200
            <br />
            2000
            <br />
            1800
          </td>
          <td>
            1,400-1,800
            <br />
            1800-2200
            <br />
            2400
            <br />
            2400
            <br />
            2200
            <br />
            2000-2200
            <br />
          </td>
        </tr>
        <tr>
          <td>Male</td>
          <td>
            4-8
            <br />
            9-13
            <br />
            14-18
            <br />
            19-30
            <br />
            31-50
            <br />
            51+
          </td>
          <td>
            1400
            <br />
            1800
            <br />
            2200
            <br />
            2400
            <br />
            2200
            <br />
            2000
            <br />
          </td>
          <td>
            1400-1600
            <br />
            1800-2200
            <br />
            2400-2800
            <br />
            2600-2800
            <br />
            2400-2600
            <br />
            2200-2400
            <br />
          </td>
          <td>
            1600-2000
            <br />
            2000-2600
            <br />
            2800-3200
            <br />
            3000
            <br />
            2800-3000
            <br />
            2400-2800
          </td>
        </tr>
      </table>
      <div class="caloriestabledesc">
        <p>
          The above values are based on the average height, weight and BMI of
          the catogerized persons.
        </p>
        <p>
          Sedentary means a lifestyle that includes only the light physical
          activity associated with typical day-to-day life.
        </p>
        <p>
          Moderately active means a lifestyle that includes physical activity
          equivalent to walking about 1.5 to 3 miles per day at 3 to 4 miles per
          hour, in addition to the light physical activity associated with
          typical day-to-day life.
        </p>
        <p>
          Active means a lifestyle that includes physical activity equivalent to
          walking more than 3 miles per day at 3 to 4 miles per hour, in
          addition to the light physical activity associated with typical
          day-to-day life.
        </p>
      </div>
    </div>
    <script type="text/javascript">
      // Find all inputs on the DOM which are bound to a datalist via their list attribute.
      var inputs = document.querySelectorAll("input[list]");
      for (var i = 0; i < inputs.length; i++) {
        // When the value of the input changes…
        inputs[i].addEventListener("change", function () {
          var optionFound = false,
            datalist = this.list;
          // Determine whether an option exists with the current value of the input.
          for (var j = 0; j < datalist.options.length; j++) {
            if (this.value == datalist.options[j].value) {
              optionFound = true;
              break;
            }
          }
          // use the setCustomValidity function of the Validation API
          // to provide an user feedback if the value does not exist in the datalist
          if (optionFound) {
            this.setCustomValidity("");
          } else {
            this.setCustomValidity("Item not found.");
          }
        });
      }
    </script>
    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>

    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>

    <footer>
      <hr />
      &copy; Copyright 2021 Health Count
    </footer>
  </body>
</html>
